// Colors
$bg-button-color: #8257e5;
$body-bg-color: #121214;
$form-color: #A8A8A8;
$text-color: #E1E1E6;
$title-color: #04D361;


//Fonts
$spartan: 'League Spartan', sans-serif;
$work-sans: 'Work Sans', sans-serif;


//Displays
$mobile: 375px;
$tablet: 1024px;
$desktop: 1728px;